/* ===== RANK COLORS ===== */

/* Everyone except top ranks → blue gradient */
.rank-0,
.rank-500,
.rank-1250,
.rank-2000,
.rank-2750,
.rank-3500,
.rank-4250,
.rank-5000,
.rank-5750,
.rank-6500 {

    background: linear-gradient(90deg, #6ec6ff, #42a5f5);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 600;
}

/* TOP 3 style */
.rank-7000 {
    background: linear-gradient(
        -45deg,
        #ffffff,
        #ffd700,
        #ffffff,
        #ffd700
    );

    background-size: 400% 400%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;

    text-shadow:
        0 0 8px rgba(255,255,255,0.9),
        0 0 18px rgba(255,215,0,0.9);

    animation: gradientHero 2s linear infinite;
}

/* Top 1 special */
.rank-11000 {
    background: linear-gradient(
        -45deg,
        #ff0000,
        #ffff00,
        #ffffff,
        #ff0000
    );

    background-size: 400% 400%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 800;

    text-shadow:
        0 0 10px rgba(255,255,255,0.9),
        0 0 20px rgba(255,0,0,0.8);

    animation: gradientHero 2s linear infinite;
}
