/* ===== RANGOS ===== */

/* NORMAL PLAYERS */
.rank-0,
.rank-500,
.rank-1250,
.rank-2000,
.rank-2750,
.rank-3500,
.rank-4250,
.rank-5000,
.rank-5750 {
    color: #ffffff !important;
}

/* TOP 3 */

/* TOP 3 - Bronze */
.rank-6500 {
    background: linear-gradient(
        45deg,
        #cd7f32,
        #b87333,
        #cd7f32
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
}

/* TOP 2 - Silver */
.rank-7000 {
    background: linear-gradient(
        45deg,
        #c0c0c0,
        #eeeeee,
        #c0c0c0
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
}

/* TOP 1 - Rainbow */
.rank-11000 {
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        violet
    );

    background-size: 400% 400%;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-weight: 800;

    animation: rainbowMove 3s linear infinite;
}

@keyframes rainbowMove {
    0% { background-position: 0% }
    100% { background-position: 100% }
}
